body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



/* Mine */

/* Fonts */
@font-face {
  font-family: "NunitoSansReguler";
  src: url(./assets/fonts/NunitoSans_10pt-Regular.ttf);
}

@font-face {
  font-family: "NunitoSansMedium";
  src: url(./assets/fonts/NunitoSans_10pt-Medium.ttf);
}

@font-face {
  font-family: "NunitoSansBold";
  src: url(./assets/fonts/NunitoSans_10pt-Bold.ttf);
}

.NunitoSansReguler{
  font-family: "NunitoSansReguler";
}

.NunitoSansMedium{
  font-family: "NunitoSansMedium";
}

.NunitoSansBold{
  font-family: "NunitoSansBold";
} 
